* {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.title {
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
}

.divider {
    color: white;
}

.names {
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
}

.description {
    color: white;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}