.list__container {
	margin-left: 20px;
	padding-bottom: 49px;

	.list__books {
		display: flex;
		overflow-y: hidden;
		overflow-x: scroll;
		padding: 21px 0px;
		/* justify-content: center; */
		align-items: center;
		object-fit: contain;

		.list__book {
			// color: #924e00;
			color: white;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			flex-grow: 1;
			height: 560px;
			margin-left: 10px;
			margin-right: 10px;
			padding: 14px;
			width: 100%;
			transition: transform 400ms, border 400ms;

			&:hover {
				transform: scale(1.08);
				opacity: 1;
				cursor: pointer;
				background-color: #04405d;
				border-radius: 12px;
			}

			h3 {
				margin: 0;
				padding: 14px 0px 21px 0px;
			}

			h4 {
				padding: 14px 0px 0px 0px;
				margin: 0;
				color: #b18512;
			}

			button {
				padding: 4px 7px;
				cursor: pointer;
			}

			img {
				justify-self: center;
				align-self: center;
			}

			button:hover {
				background-color: lightgray;
			}
		}
	}

	.list__books::-webkit-scrollbar {
		display: none;
	}
}
.page__title {
	background-color: #14213d;
		text-align: center;
		padding: 28px;
		color: white;
		font-size:xx-large;
}

.link {
	text-decoration: none;
}